/.vscode
/a.exe
/C CODING GANG GANG.code-workspace
/JOE.c
/JOE.exe
/lmao.c
/lmao.exe
/T1Q1.c
/T1Q1.exe
/T1Q2.c
/T1Q2.exe
/T1Q3.c
/T1Q3.exe
/T1Q4.c
/T1Q4.exe
/TUTORIAL 2
/TUTORIAL 3
/TUTORIAL 4
/TUTORIAL 5